.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

#page-numbers {
  list-style: none;
  display: flex;
}

#page-numbers > li {
  margin-right: 0.3em;
  color: yellow;
  user-select: none;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

.mainPaperWrapper {
  width: 50%;
  padding: 10px; 
  margin: 10px auto;
  text-align: center; 
  border-radius: 4px !important;
}

.innerPaperWrapper{
  width: 50%;
  margin: 10px auto;
  padding:10px;
  border: solid 1px #CCC;
  border-radius: 4px !important;
  text-align:center
}

.table {
  text-align: left;
  border-collapse: collapse;
  margin: 20px auto;
  width: 90%;
  color: #FFF;
  border: solid 1px #fff;
}